.nav {
  justify-content: center;
  display: flex;
  flex-direction: row;

  gap: 30px;
}

.navText {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: rgb(219, 219, 219);
  text-decoration: none;
}

.navText:hover {
  opacity: 0.85;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 5vh;

  border-style: solid;
  border-color: rgb(105, 105, 105);
  border-width: 1px;
}

.profileText {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: rgb(250, 250, 250);

  display: flex;
  flex-direction: row;
}

.profilePicture {
  filter: brightness(1.5);
}

.profilePicture:hover {
  filter: brightness(1.75);
}

.audioIcon {
  width: 15px;
  height: 15px;
}
.audioIcon .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(130, 130, 130);
  color: #fff;
  text-align: center;
  font-family: Helvetica,Arial,sans-serif;
  padding: 3px 0;
  border-radius: 5px;

/* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.audioIcon:hover .tooltipText {
  visibility: visible;
}

.audioIcon:hover {
  cursor: pointer;
}

body {
  background-color: black;
}
